<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Jayu AI 🤖</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/script.js"></script>
</head>
<body>
  <h1>The Jayu AI 🤖</h1>
  <div id="username-entry">
    <input type="text" id="username-input" placeholder="Enter your username">
    <button id="username-button">Submit</button>
  </div>
  <div id="chat-container" style="display: none;">
    <div id="chat-messages">  <div id="loading-spinner"></div></div>
  
    <textarea id="message-input" placeholder="ask Jayu anything"></textarea>
    <button id="send-button">Send > </button>
  </div>

    

  <footer>
    <h3>Disclaimer : This is not a finished product ! <strong><a href="/warn">Read More ></a></strong> </h3>
    <p>Made with 💚 by Jayesh Chaudhari</p>
    <p>Powered by   <a href="https://ai.google/discover/generativeai/" target="_blank" rel="noopener noreferrer">Google Gemini</a></p>
    <p><a href="mailto:jc4529@srmist.edu.in">Contact me 💌</a></p>
  
  </footer>

</body>
</html>
