<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Jayu AI 🤖</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/script.js"></script>
  <style>
    .warning-box {
      background-color: limegreen;
      color: black;
      padding: 15px;
      border-radius: 5px;
      margin: 20px 0;
      border: 2px solid black;
      width: 50%;
        margin: 0 auto;
    }
  </style>
</head>
<body>
  <h1>The Jayu AI 🤖</h1>

  <div class="warning-box">
 <h2><a href="/">< Go back to Home</a></Go></h2>
    <h1><strong>⚠ Warning ⚠</strong></h1>
        
            <ol>
                <li>This is <strong> NOT </strong> a finished product</li>
                <li>This service <strong> DOES NOT </strong> stores data</li>
                <li>This service is powered by <strong>Google's gemini-1.0-pro model</strong> </li>
                <li>The responses are sent raw that's why may appear a bit wierd at first</li>
            </ol>
      
  </div>

  <footer>
    
    <p>Made with 💚 by Jayesh Chaudhari</p>
    <p>Powered by <a href="https://ai.google/discover/generativeai/" target="_blank" rel="noopener noreferrer">Google Gemini</a></p>
    <p><a href="mailto:jc4529@srmist.edu.in">Contact me 💌</a></p>
  </footer>

</body>
</html>
